.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(13, 13, 17, 0.857);

  &__container {
    display: flex;
    align-items: center;
    column-gap: 35px;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;

    @media (max-width: 991.98px) {
      column-gap: 25px;
      min-height: 90px;
    }
  }

  &__logo {
    position: relative;
    z-index: 5;

    @media (max-width: 560px) {
      width: 32px;
      flex: 0 0 32px;
      overflow: hidden;
    }
  }

  &__menu {
    flex: 1 1 auto;
  }

  &__cart {
    position: relative;
    z-index: 5;
  }

  &__button {
    position: relative;
    z-index: 5;
    flex: 0 0 auto;
  }
}
