.services {
  padding-top: 70px;
  padding-bottom: 100px;

  @media (max-width: 991.98px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__header {
    @media (max-width: 1020px) {
      max-width: none;
    }
  }

  &__container {
    display: flex;

    @media (max-width: 1020px) {
      flex-direction: column;
    }
  }

  &__content {
    flex: 0 1 50%;
    align-self: center;
  }

  &__items {
    flex: 0 1 50%;
    display: flex;
    gap: 32px;
    justify-content: center;

    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }

  &__column {
    &:first-child {
      padding-top: 48px;

      @media (max-width: 620px) {
        padding-top: 15px;
      }
    }
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.item-service {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
  display: block;

  &__icon {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-weight: 400;
    color: #fff;
    font-size: 19px;
    line-height: 1.42;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
